{% extends 'main.html' %}

{% block content %}

{% load staticfiles %}

    {% if user.is_authenticated %}

		<h3 id="index-title"> Welcome back to TravelPack, {{ user.first_name}}! </h3>
		{% else %}
	<h3 id="index-title"> Welcome to TravelPack! </h3>
	{% endif %}
	<hr>
	<div class="col-xs-1"></div>
	<div class="col-xs-10">
	    <ol>
	    <h4> Recently Added Trips </h4>
	      {% for trip in trips %}
	          <li><a href="{% url 'website:single_trip' trip.id %}">{{ trip.title }} - {{ trip.description }}</a></li> 
	      {% endfor %}
	    </ol>
	</div>    
	<div class="col-xs-1"></div>    

{% endblock %}