{% extends 'main.html' %}

{% block content %}

{% load staticfiles %}

    {% if user.is_authenticated %}

		<h2 id="index-title">
			Welcome back to TravelPack, {{ user.first_name}}!
		</h2>
		{% else %}
		<h3 id="index-title">
			Welcome to TravelPack!
		</h3>
	{% endif %}
	<hr>

	<h3 style="text-align:center;"><strong>Recently Added Trips</strong></h3>
		<br>
	<div class="row">
	      {% for trip in trips %}
	        <div class="col-xs-6 col-md-4 all-trips-list-div">
	          	<a href="{% url 'website:single_trip' trip.id %}">
		          	<h4 style="text-align:center;">{{ trip.title }} - {{ trip.num_of_nights }} nights</h4>
				        <img class="trip-img-thumb" src="{{ trip.trip_img.url }}" width="100%" height="100%">
	        	</a>
	    	</div>
	      {% endfor %}
	    </ol>
	</div>    
	<div class="col-xs-1"></div>    

{% endblock %}