{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	{% block title %}
	<title>TravelPack</title>
	{% endblock %}
	{%include "styles.html"%}
	<link rel="stylesheet" type="text/css" href="{% static 'main.css' %}" />
</head>
<body>
	<div id="main-nav">
		{%include "navbar.html"%}
	</div>

	{% block content %}{% endblock %}


	<footer class="footer">
		<div class="container">
			<span class="text-muted"></span>
		</div>
	</footer>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</html>