{% extends 'main.html' %}
{% load staticfiles %}
{% block content %}

{% if review_list %}
	<h2 style="text-align:center;margin-top:3em;">{{ trip.title }}All Reviews</h2>
	<hr>
{% endif %}

<div class="col-xs-4"></div>
<ul class="col-xs-4">
  {% for review in review_list %}

   	<h3>Trip Reviewed: {{ review.trip }} </h3>
   	<h3>Rating: {{ review.rating }}/10 <span class="glyphicon glyphicon-star" aria-hidden="true"></span></h3>
    <h3> Review: {{ review.review_text }}</h3>
    <hr>

   	{% empty %}
    <h3> This trip does not have any reviews </h3>
 
  {% endfor %} 
</ul> 
<div class="col-xs-4"></div>  


{% endblock %}  