{% extends 'main.html' %}

{% block content %}

{% load thumbnail %}
{% load staticfiles %}
  
<h2 class="detail-pg-title">{{ trip.title }} - {{ trip.num_of_nights }} nights - ${{ trip.price }} per couple</h2>

<div class="row">
  <div class="col-xs-12 trip-img-div">
    {% if trip.trip_img %}
    <div class="trip-detail">
      {% thumbnail trip.trip_img "1150x400" crop="center" as im %}
        <a href="{{ trip.trip_img.url }}" target="_new">
          <img class="trip-img" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
        </a>
      {% endthumbnail %}     
    </div>
    {% endif %}
  </div>
</div>  


<div class="row trip-detail-info">
  <div class="col-xs-3"></div>
  <div class="col-xs-6 info-div">
    <h4><strong>Location:</strong> {{ trip.location }}</h4>
    <h4><strong>Category:</strong> {{ trip.trip_type }}</h4>
    <h4><strong>Description:</strong> {{ trip.description }}</h4> 
  </div>  
  <div class="col-xs-3"></div> 
</div>   
<hr> 
           
<div class="row">
  <div class="col-xs-5"></div>
  <div class="col-xs-2">             
    {% if user.is_authenticated %}
    
      {% if trip.quantity > 0 %}
      <form action="/add_to_cart/{{ trip.id }}/" method="POST">
      {% csrf_token %}
          <button class="btn add-to-cart-btn btn-success btn-lg">Book Trip</button>
      </form>
      {% endif %}
    {% endif %}

  <br>    
    <form action="{% url 'website:single_trip' trip.id %}" method="POST">
        {% csrf_token %}
        <input type="hidden" name="wishlist" value="">
        <input class="btn add-to-cart-btn btn-success btn-lg" type="submit" value="Add to Wishlist">
    </form>  
  </div>
  <div class="col-xs-5"></div>  



{% endblock %}