{% extends 'main.html' %}

{% block content %}

{% load thumbnail %}
{% load staticfiles %}
  
    <h3 class="detail-pg-title">{{ trip.title }} - {{ trip.num_of_nights }} nights - ${{ trip.price }} per couple</h3>
      <div class="row trip-detail-info">
        <div class="col-xs-3"></div>
          <div class="col-xs-6 info-div">
            <li><strong>Location:</strong> {{ trip.location }}</li>
            <li><strong>Category:</strong> {{ trip.trip_type }}</li>
            <li><strong>Description:</strong> {{ trip.description }}</li> 
          </div>  
        <div class="col-xs-3"></div>  
           {% if trip.trip_img %}
            <div class="trip-detail">
              {% thumbnail trip.trip_img "1150x400" crop="center" as im %}
                <a href="{{ trip.trip_img.url }}" target="_new">
                <img class="trip-img" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
                </a>
              {% endthumbnail %}     
            </div>

          {% endif %}
      </div>    
    
  {% if user.is_authenticated %}
<!--       <form action="{% url 'website:single_trip' trip.id %}" method="POST">
        {% csrf_token %}
        <input type="hidden" name="opinion" value="1">
        <input class="btn btn-success btn-sm" type="submit" value="Like">
      </form>

      <form action="{% url 'website:single_trip' trip.id %}" method="POST">
        {% csrf_token %}
        <input type="hidden" name="opinion" value="-1">
        <input class="btn btn-danger btn-sm" type="submit" value="Dislike">
      </form> -->

      {% if trip.quantity > 0 %}
      <form action="/add_to_cart/{{ trip.id }}/" method="POST">
      <hr>
      {% csrf_token %}
          <button class="btn btn-success btn-lg">Book Trip</button>
      </form>
      {% endif %}
  {% endif %}



{% endblock %}