{% extends 'main.html' %}

{% block content %}

{% load thumbnail %}
{% load staticfiles %}
  
    <h3 class="detail-pg-title">{{ trip.title }}</h3>
      <div class="trip-detail-info">
          <ul>
            <li><strong>Location:</strong> {{ trip.location }}</li>
            <li><strong>Category:</strong> {{ trip.trip_type }}</li>
            <li><strong>Description:</strong> {{ trip.description }}</li>
            <li><strong>Price per person:</strong> ${{ trip.price }}</li>
            <li><strong>Trip length:</strong> {{ trip.num_of_nights }} nights</li>
            
<!--             {% if trip.quantity > 0 %}
              <li><strong>Quantity Available:</strong> {{ trip.quantity }}</li>
            {% else %}
              <li><strong>Quantity Available: We are sorry, this trip is no longer available</strong></li>
            {% endif %} -->
                  
          </ul>

           {% if trip.trip_img %}
            <li class="trip-detail">
              {% thumbnail trip.trip_img "750x750" crop="center" as im %}
                <a href="{{ trip.trip_img.url }}" target="_new">
                <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
                </a>
              {% endthumbnail %}
            </li>
          {% endif %}
      </div>    
    
  {% if user.is_authenticated %}
<!--       <form action="{% url 'website:single_trip' trip.id %}" method="POST">
        {% csrf_token %}
        <input type="hidden" name="opinion" value="1">
        <input class="btn btn-success btn-sm" type="submit" value="Like">
      </form>

      <form action="{% url 'website:single_trip' trip.id %}" method="POST">
        {% csrf_token %}
        <input type="hidden" name="opinion" value="-1">
        <input class="btn btn-danger btn-sm" type="submit" value="Dislike">
      </form> -->

      {% if trip.quantity > 0 %}
      <form action="/add_to_cart/{{ trip.id }}/" method="POST">
      <hr>
      {% csrf_token %}
          <button class="btn btn-success btn-lg">Book Trip</button>
      </form>
      {% endif %}
  {% endif %}



{% endblock %}