{% extends 'main.html' %}
{% load staticfiles %}
{% block content %}

<div class="col-xs-1"></div>
<div class="col-xs-10">
	<h3 style="text-align:center;">Trip Categories
		<span class="glyphicon glyphicon-glass" aria-hidden="true"></span>
		<span class="glyphicon glyphicon-sunglasses" aria-hidden="true"></span>
		<span class="glyphicon glyphicon-education" aria-hidden="true"></span>
		<span class="glyphicon glyphicon-apple" aria-hidden="true"></span>
		<span class="glyphicon glyphicon-tent" aria-hidden="true"></span>		
	</h3>
	<hr>

	<ol class="row">
		{% for triptype in trip_types %}
			<li class="col-xs-5"> 
				<a href="{{ triptype.get_absolute_url }}"> <h4>{{ triptype.trip_type_name }} </a>
				({{ triptype.num_trips }})</h4> 
			</li>

			{% for trip in triptype.trips %}
				<a href="{{ trip.get_absolute_url }}"> {{ trip.title }} </a>
				<br />
			{% endfor %}
		<hr>
		{% endfor %}
	 </ol>
</div>	 
<div class="col-xs-1"></div>

 {% endblock %}