{% extends 'main.html' %}
{% load staticfiles %}
{% block content %}

	<h2 style="text-align:center; margin-top:3em;">Showing All:
		{% for trip_type in trip_types %} 
			{{ trip_type }}
		{% endfor %}
	</h2>
	<hr>

	<div class="col-xs-1"></div>
	<div class="col-xs-10">
		{% for trip in trips_of_type %} <br />
			<a  href="{{ trip.get_absolute_url }}"> 
				<div style="text-align:center;">	
					<h3> {{ trip.title }} </h3>
					<h4>Trip Length: {{ trip.num_of_nights }} nights</h4>
					<h4>Location: {{ trip.location }}</h4>
					<h4>Price Per Couple: ${{ trip.price }}</h4>
					<img class="trip-img-thumb" src="{{ trip.trip_img.url }}" width="100%" height="100%">
				</div>
			</a>
			<hr>
		{% endfor %}
	</div>
	<div class="col-xs-1"></div>
		

{% endblock %}
