{% extends 'main.html' %}

{% block content %}

{% load staticfiles %}

<div class="col-xs-3"></div>  
<div class="col-xs-6">
    <h3 class="detail-pg-title"> <a href="/profile">{{ user.first_name}}'s</a> Wishlist</h3>
    <hr>
	
    <ul class="wishlist-items">
        {% if user.is_authenticated %}
            {% for trip in user_wishlist %}
                <a class="wishlist-items" href="{% url 'website:single_trip' trip.trip_id %}">
                    <h4 class="wishlist-items">Trip: {{ trip.trip }} </h4> 
                    
                    <form action="{% url 'website:remove_trip_from_wishlist' %}" method="POST">
                    {% csrf_token %}
                        <input type="hidden" name="wishlist_id" value="{{ trip.id }}">
                        <button class="btn btn-danger">Remove</button>  
                    </form>
                </a> 
                <br>
            
            {% empty %}
            <h3> You have not added any trips to your wishlist! </h3>
            
        {% endfor %}
    </ul>    

    <hr>
    <a class="btn btn-default" href="/profile">Return to profile</a>
</div>    
<div class="col-xs-3"></div>

		{% endif %}


{% endblock %}