body {
	background-color: #d7ccc8;
	padding: 10px;
	font-family: 'Bubbler One', sans-serif;
}

hr {
	border-color: grey;
}

/* Nav */
.search-group {
	margin-top: 7px;
}

.navbar {
	background-color: #e3f2fd;
	border-color: #e3f2fd;
	margin: none;
}

/* Login Page */
#login-box {

}

/* Home Page */
#index-title {
	text-align: center;
}


.payment-type-line {
	display: inline;
}

.cart-line-item {
	padding: 20px;
	border-bottom: 2px dotted black;
}

.profile-bttn {
    margin: 10px;
}

/* Profile Page */
.profile-body

/* Cart Page */



/* Trip Detail Page */


.trip-detail {
	text-align: center;
	list-style-type: none;
}

.trip-img {
	max-width: 100%;
	list-style-type: none;
}

.detail-pg-title {
	text-align: center;
	list-style-type: none;
}

.info-div {
	list-style-type: none;
}


